.container {
  width: 1080px;
  margin: 0 auto;
}

.form {
  display: block;
  margin: 5px 0;
  border: 2px solid #ddd;
  border-color: black;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  font-size: 14px;
  box-sizing: border-box;
}

hr{
  border-color:black;
  border-width:2px;
}

blue{
	color: blue;
}

orange{
	color: orange;
}

red{
	color: red;
}

grey{
  color: #999;	
}

.text-link
{
  text-decoration: none;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 12px;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
}

.left-margin{
	margin-left: 30px;
}
.align-center{
  text-align: center;
}

.align-right{
  text-align: right;
}

.margin-bot{
  margin-bottom: 50px;
}

.row {
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.row:after {
  clear: both;
  content: " ";
  display: block;
}

.expanse10 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
  margin: 0;
}

.expanse1 {
  width: 10%;
}

.devider {
  padding: 15px 0;
  border-top: 3px solid #000 ;
}

.footer {
  color: #999;
}

#question-arrow-up, .arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ddd;
  margin: 0 auto;
}

#question-arrow-down, .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ddd;
  margin: 0 auto;
}