
/*global styling*/
*{
	font-family:Arial;
}

/*specific styling*/
#TopDiv{
	text-align:center;
}

#AskHere{
	text-decoration: none;
	color:#FFCC00;
}

#SearchInput{
	width:500px;
	height:20px
}

#SearchButton{
	width:80px;
	height:26px;
}

#BottomDiv{
	padding-left:100px;
	padding-right:100px;
}

hr{
	background-color:black;
	line-heigth:0;
	height:3px;
	border-width:0;
}