body {
	width: 800px;
	margin: 0 auto;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.header-page {
	margin-top: 5px;
	text-align: center;
	padding: 10px;
	margin-bottom: 35px;
	background-color: #FF6B53;
}


.search-form input[type="text"] {
	margin: 0 15px;
	padding: 10px;
	border: solid 5px #FF6B53;
	border-radius: 5px;
	width: 640px;
	transition: border 0.5s;
}

.search-form input[type="submit"] {
	width: 80px;
	margin-right: 15px;
	padding: 10px;
	background-color: #E9E9E9;
	border: solid 5px #FF6B53;
	border-radius: 5px;
	transition: border 0.5s;
	cursor: pointer;
}

p {
	text-align: center;
	font-size: 14px;
}

#ask-here{
	color: orange;
	text-decoration: none;
}

hr {
	border: 2px solid #FF6B53;
}

.question-form input[type="text"],
.answer-form input[type="text"] {
	margin: 2px 15px;
	padding: 10px;
	border: solid 5px #FF6B53;
	border-radius: 5px;
	width: 740px;
}

.question-form textarea,
.answer-form textarea {
	margin: 2px 15px;
	padding: 10px;
	border: solid 5px #FF6B53;
	border-radius: 5px;
	width: 740px;	
}

.question-form input[type="submit"],
.answer-form input[type="submit"]{
	margin-right: 15px;
	padding: 5px 15px;
	float: right;
	background-color: #E9E9E9;
	border: solid 5px #FF6B53;
	border-radius: 5px;
	cursor: pointer;
}

.qcontainer {
	overflow: auto;
}

.vote {
	width: 100px;
	float: left;
	text-align: center;
	font-weight: bold;
}

.answer {
	width: 100px;
	float: left;
	text-align: center;
	font-weight: bold;
}

.question {
	margin-left: 204px;
}


#qline, 
#aline {
	clear: left;
}

#question-topic {
	font-weight: bold;
}

#question-content {
	margin-top: 2px;
	font-size: 14px;
	color: #020202;
}

.question-info,
.answer-info {
	text-align: right;
	clear: left;
	margin-top: 10px;
	font-size: 14px;
}

#qname,
#qdate,
#aname,
#adate {
	color: blue;
}

#qvote {
	margin: 2px auto;
	font-size: 30px;
}

#edit {
	color : orange;
}

#delete {
	color: red;
}

#your-answer {
	margin-left: 30px;
	color: #a9a9a9;
}

.question-prev,
.answer-prev {
	margin-top: 2px;
	font-size: 14px;
	color: #020202;
	margin-left: 102px;
}