html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

h3 {
    margin: 0px;
    margin-top: 8px;
}

h3.topic {
    margin-top: 6px;
}

p {
    margin-top: 2px;
}

.header {
  text-align: center;
  font-size: 28px;
  margin: 32px;
}

a:link, a:visited {
    color: #ff7878;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

a.title,
a.topic {
    color: black;
    text-decoration: none;
}

.div-search {
    text-align: center;
    margin: 32px;
}

hr {
    border: 0 none;
    height: 1px;
    color: #ff9090;
    background-color: #ff9090;
}

hr.heading {
    height: 2px;
    margin-bottom: 8px;
}

hr.item {
    color: #ffb0b0;
    background-color: #ffb0b0;
}

input[type=search],
input[type=text],
textarea {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    box-sizing: border-box;
    padding: 6px 12px;
    width: 100%;
    border: 2px solid #ff7878;
    border-radius: 3px 3px 3px 3px;
    outline: none;
    margin-bottom: 8px;
}

input[type=search] {
    width: 600px;
    margin-right: 8px;
}

textarea {
    resize: none;
}

.btn-default,
.btn-search {
    min-width: 75px;
    position: relative;
    padding: 8px 16px;
    background-color: #ff5858;
    color: #ffffff;
    border: 2px solid #ff5858;
    border-radius: 3px;
    outline: none;
}

.btn-search:hover,
.btn-default:hover {
    background-color: #ff5f5f;
    border: 2px solid #ff5f5f;
}

.btn-right {
    float: right;
}

.container {
    width: 800px;
    margin: auto;
}

.question-item:after,
.answer-item:after {
    content: "";
    display: table;
    clear: both;
}

.stat {
    vertical-align: top;
    float: left;
    width: 15%;
    text-align: center;
    margin: 8px;
    margin-top: 2px;
}

.vote, .answer {
    display: inline-block;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    color: #333;
    padding: 5px 5px 6px 5px;
    text-align: center;
}

.timestamp {
    width: auto;
    line-height: inherit;
    padding-top: 4px;
    white-space: nowrap;
    float: right;
    color: #555;
    position: absolute;
    bottom: 0;
    right: 0;
}

.vote-panel {
    vertical-align: top;
    float: left;
    width: 10%;
    text-align: center;
    min-height: 71px;
}

.vote-up,
.vote-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
}

.vote-up {
    border-bottom: 10px solid black;
}

.vote-down {
    border-top: 10px solid black;
}

.vote-count,
.answer-count {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.vote-count-mini,
.vote-answer-mini {
    font-size: 12px;
}

.question-summary,
.question-content,
.answer-content {
    float: right;
    width: 90%;
    text-align: justify;
    position: relative;
    min-height: 71px;
}

.question-summary {
    width: 80%;
}
