body {
	font-family: "Open Sans", sans-serif;
	background-image: url('../img/bg1.png');
	background-size: cover;
}
h1 {
	text-align: center;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 40px;
}
.container {
	width: 750px;
	margin: 0 auto;
	padding: 15px 50px;
	background-color: rgba(255,255,255,0.85);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
input, textarea {
	width: 740px;
	margin: 5px 0;
	padding: 5px;
	font-family: sans-serif;
	font-size: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #a5a5a5;
}
textarea {
	height: 200px;
}
button {
	float: right;
	padding: 5px;
	margin: 5px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #a5a5a5;
	cursor: pointer;
}
#forum-search {
	width: 650px;
}
.text-center {
	text-align: center;
}
.question-block {
	position: relative;
	height: 75px;
	vertical-align: middle;
}
.q-votes, .q-answers, .q-topic {
	display: inline-block;
}
.q-votes, .q-answers {
	text-align: center;
	margin-top: 15px;
	width: 10%;
}
.q-topic {
	width: 75%;
	vertical-align: top;
	margin-left: 10px;
}
.details {
	position: absolute;
	right: 0;
	bottom: 0;
}
.post-full {
	position: relative;
}
.votes {
	display: inline-block;
	width: 15%;
	height: 75px;
	position: relative;
}
.upvote {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #d4d4d4 transparent;
	position: absolute;
	vertical-align: top;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.downvote {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #d4d4d4 transparent transparent transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	vertical-align: bottom;
}
.upvote:hover, .upvote:focus {
	border-color: transparent transparent #a5a5a5 transparent;
}
.downvote:hover, .downvote:focus {
	border-color: #a5a5a5 transparent transparent transparent;
}
.vote-number {
	font-size: 25px;
	color: #a5a5a5;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.post-content {
	vertical-align: top;
	display: inline-block;
	width: 80%;
	margin-bottom: 40px;
}
#a-form, #q-form {
	margin-bottom: 50px;
}
.upvote, .downvote {
	cursor: pointer;
}
a {
	color: rgb(60, 120, 130);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}