
body {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #B3B0B0;
	font-family: 'Lato', sans-serif; 
	margin: 0;
}

/*  -- header -- */

.banner{
	height: 150px;
	width: 100%;	
}


.container {
	margin-left: 100px;
	margin-right: 100px;
}

.banner h2{
	color: #FFFFFF;
	font-size: 35px;
	font-weight: 700;
	margin: 50px;
	text-align: center;
}

.banner a {
	text-decoration: none;
}


.search-form {
	margin: 0 300px;
	float: left;
}

.searchbox {
	height: 20px;
	border: none;
}

.button{
	height: 20px;
	margin-top: 10px;
	margin-left: 35.6em;
 	font-weight:700;
 	text-align:center;
 	vertical-align:middle;
 	background-color: #FFFFFF;
 	border-color: #000000;
}

.button:hover, .buttonSearch:hover {
	border-right-color: #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
}

.buttonSearch{
	height: 20px;
	font-weight:700;
 	text-align:center;
 	vertical-align:middle;
 	background-color: #FFFFFF;
 	border-color: #000000;
}
.banner-bottom{
	margin-top: 75px;
	text-align: center;
}

.banner-bottom li{
	display: inline-block;
}

.banner-bottom span{
	color: #FFFFFF;
	font-weight: 500;
}

.banner-bottom a{
	color: #FF0000;
	font-weight: 700;
	text-decoration: none;	
}

.bottom-line{
	border-bottom: 3px solid;
	margin-top: 15px;
	margin-bottom: 5px;
}

.text-center{
	text-align: center;
}


.content h2{
	margin-top: 20px;
	margin-bottom: 5px;
}

.col {
	float: left;
}


.vote, .answer{
	width: 10%;
}

.question {
	vertical-align: center;
	min-width: 700px;
	max-width: 700px;
}

.question a {
	text-decoration: none;
	color: #265;
	font-weight: 700;
}


.question-info {
	min-width: 250px;	
	margin-left: 900px;
	text-align: right;
}

.question-info span{
	color: #4673F5
}

.questionContent {
	min-height: 150px;
}

.bot-margin{
	margin-top: 150px;
}

/* -- Question Page -- */
.form {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 15px;
}

.formContent{
	font-size: 13px;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	width: 40em;
	border-radius: 10px;
	border-color: #090909;
	padding-left: 10px;
}

.formContent:focus {
	border: 1px solid rgba(81, 203, 238, 1);
}

.votesFunc {
	width: 15%;
	font-size: 18px;
}

.navPost {
	text-align: right;
}


.edit {
	text-decoration: none;
	font-weight: 600;
	color: #630985;
}

.delete {
	text-decoration: none;
	font-weight: 600;
	color: #EE1717;
}

.answer-info {
	text-align: right;
}

.answer-form {
	margin-left: 50px;
	margin-right: 50px;
}

.answer-form h1 {
	color: #A40505;
}

.sinquestionContent {
	width: 85%;
	text-align: justify;
}

.sinquestionContent p {
	margin-top: 0;
}

.sinquestion-info {
	text-align: right;
}

.sinanswerContent {
	width: 85%;
	text-align: justify;
}

.sinanswerContent p {
	margin-top: 0;
	min-height: 30px;
}