html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  text-align: center;
  font-weight: normal;
}

h2 {
	text-align: left;
	font-weight: normal;
  border-bottom: solid;
}

.grey-title{
  text-align: left;
  font-weight: normal;
  color: #909090;
  font-size: 22px;
}

h3 {
  text-align: left;
  font-weight: normal;
}

h5 {
  margin-top:5px;
  text-align: center;
  font-weight: normal;
}

p{
  font-size:14px;
  margin:2px;
}

textarea {
  padding: 7px;
  border: 1;
  width: 95%;
  margin: 5px;
  float: left;
  text-align: top;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

button {
  background-color: #FFFFFF;
  border: 1px solid #909090;
  padding:10px;
}


.input-search{
  padding: 6px;
  border: 2;
  width: 80%;
  margin: 7px;
  margin-left: 10px;
  float: left;
  display: inline-block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.button-right{
  margin-top: 1px;
  margin-right: 3%;
  padding: 6px;
  float: right;
  display: inline-block;
}

.container{
	margin: auto;
  width: 55%;
  padding: 10px;
}

.content{
	padding: 10px;
  margin-top:5px;
}

.question-home{
  padding: 10px;
  border-top: solid;
}

.input-group {
  padding: 7px;
  border: 1;
  width: 95%;
  margin: 5px;
  float: left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.button-bottom{
  margin: 10px;
  padding: 7px;
  float: right;
}

#vote, #answer {
  display: inline-block;
  width: 10%;
  text-align:center;
  vertical-align: top;
  font-size:13px;
}

#question-content {
  display: inline-block;
  width: 75%;
}

#question-title{
  font-size: 14px;
}

#question-description{
  font-size: 12px;
}

.question-sign{
  padding: 10px;
  margin-top:0px;
  width:95%;
  text-align: right;
}

.question-sign p{
  font-size:13px;
}