a {
    text-decoration: none;
    color: #000000;
}

p {
    text-align: center;
}


#ask {
    color: orange;
    font-weight: bold;
}

#voting {
    position: relative;
    text-align: center;
    width: 10%;
    margin-bottom: 2%;
}

.question {
    margin-bottom: 15%
}

#ans_count,#vote_count {
    margin-top: 4%;
    margin-bottom: 4%;
    height: 5%;
}

#name {
    color: blue;
}

#edit {
    color: orange;
}

#delete {
    color: red;
}

.float_left {
    float:left;
    text-align:center;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

#qbox {
    margin-bottom: 5%;
}

#topic {
    text-align: center;
    width: 80%;
    font-weight: bold;
}

.vote_num {
    font-size: 40px;
    font-weight: bold;
}

.content {
    text-align:left;
    margin-left: 10px;
    float: right;
}

#q_content {
    width: 87%;
}

#i_content {
    width: 80%;
}

#asked {
    margin-bottom: 2%;
    text-align: right;
    float: right;
    width: 100%;
}

#answercount {
    float: left;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Calibri Light";
}

h2 {
    text-align: left;
    font-size: 20px;
    font-family: "Arial";
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h2#youranswer {
    color: gray;
    margin-bottom: 5px;
    font-weight: lighter;
}

h3 {
    text-align: left;
    font-size: 16px;
    font-family: "Arial";
    margin: 0px;
    font-weight: lighter;
}

input[type=text] {
    width: 100%;
    margin-bottom: 5px;
}

input[type=text]#search {
    width: 89%;
    float: left;
}

input[type=submit] {
    float: right;
    width: 10%;
    margin-bottom: 5px;
}

input[type=hidden] {
    height: 0px;
}

textarea {
    height: 64px;
    width: 100%;
    font-family: "Arial";
    margin-bottom: 5px;
}

body {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    font-family: "Arial";
    font-size: 15px;
}

hr {
    margin-bottom: 15px;
    width: 100%;
    color: #000000;
    background-color: #000000;
    height: 1px;
}