<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>View.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBAccess</servlet-name>
        <servlet-class>DBHandler.Question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question</servlet-name>
        <servlet-class>View.Question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Answer</servlet-name>
        <servlet-class>DBHandler.Answer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Voting</servlet-name>
        <servlet-class>DBHandler.Voting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertQuestion</servlet-name>
        <servlet-class>View.InsertQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestion</servlet-name>
        <servlet-class>View.EditQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>View.DeleteQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBAccess</servlet-name>
        <url-pattern>/DBA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question</servlet-name>
        <url-pattern>/question/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Answer</servlet-name>
        <url-pattern>/Answer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Voting</servlet-name>
        <url-pattern>/vote/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertQuestion</servlet-name>
        <url-pattern>/ask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestion</servlet-name>
        <url-pattern>/edit/question/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/delete/question/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/DBSource</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
