// Simple grid system
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  content: '';
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: $i/12 * 100%;
  }

  .col-push-#{$i} {
    margin-left: $i/12 * 100%;
  }
}