@import 'reset';
@import 'variables';
@import 'grid';
@import 'base';


#searchForm input[type="text"] {
  width: 400px;
  height: 38px;
}

#searchForm {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ask-here {
  text-align: center;
  margin-bottom: 48px;
}

.container {
  width: 960px;
  margin: 48px auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $container-background;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.main-title h1 {
  font-size: 30px;
  font-weight: $font-weight__semi-bold;
  text-align: center;
}

.main-title h1 span {
  color: $title-color;
}

.secondary-title h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: $font-weight__normal;
  color: $font-color__secondary;
}

.question-list > .row:first-child .question {
  border-top: 1px solid $border-color;
}

.question {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color;
}

.question-summary {
  position: relative;
  min-height: 74.8px;
}

.question-title {
  font-size: 18px;
  font-weight: $font-weight__semi-bold;
  margin-bottom: 1em;
}

.question-title a,
.question-title a:visited {
  color: $blue-secondary;
  text-decoration: none;
}

.question-meta {
  text-align: right;
}

.question-edit,
.question-edit:visited {
  color: $blue-secondary;
  text-decoration: none;
}

.question-delete,
.question-delete:visited {
  color: $blue-secondary;
  text-decoration: none;
}

.question-status {
  text-align: center;
}

.status-title {
  font-size: 12px;
  color: $font-color__secondary;
}

.status-counts {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: $font-weight__semi-bold;
  color: $font-color__secondary;
}

.question-vote,
.question-answers {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
}