<!DOCTYPE html>
<html> 
  <head>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <title>StackExchange</title>
  </head>
  <body>
      <h1 id="title">Simple StackExchange</h1>
      <div id="search">
        <form>
            <input id="search-text" type="search" name="q" placeholder="Searching Question?"/> </td>
            <input id="search-button" type="submit" value="search" />
        </form>
      </div>
      <p class="to-ask-here">
        Cannot find what you are looking for? <a id="ask-here" href="ask_question.html">Ask Here</a>
      </p>
      <h2 id="recent-ask">Recently Asked Question</h2>
      <hr class="line">
      <div class="item">
        <div class="counter">
          <div class="num">50</div>
          <div class="label">Votes</div>
        </div>
        <div class="counter">
          <div class="num">0</div>
          <div class="label">Answers</div>
        </div>
        <div class="question">
          <h4 class="topic">Siapa kamu?</h4>
          <p class="desc">Saya bukan siapa-siapa. kenapa kamu tanya begitu</p>
        </div>
        <div class="footer">
          <p>
            asked by 
            <span class="name">Siapa saya?</span> | 
            <span class="edit">edit</span> | 
            <span class="delete">delete</span> 
          </p>
        </div>
      </div>

      <hr class="line">
      <div class="item">
        <div class="counter">
          <div class="num">-50</div>
          <div class="label">Votes</div>
        </div>
        <div class="counter">
          <div class="num">3</div>
          <div class="label">Answers</div>
        </div>
        <div class="question">
          <h4 class="topic">Dimana aku?</h4>
          <p>Kamu bukan disini tapi disana. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="footer">
          <p>
            asked by 
            <span class="name">tourist</span> | 
            <span class="edit">edit</span> | 
            <span class="delete">delete</span> 
          </p>
        </div>
      </div>
  </body>
</html>