body{
	padding-left: 20%;
	padding-right: 20%;
}

h1{
	text-align: center;
	margin-top: 60px;
}

h2{
	margin: 0px;
}

.question{
	height:140px;
}

.question a{
	text-decoration: none;
	color : black;
}

.question-vote{
	float:left;
	margin-left: 1%;
	width:5%;
	height:90%;
}

.question-vote p{
	text-align: center;
}

.question-content{
	float:left;	
	width: 60%;
	margin-right: 5%;
	height:70%;
	text-align: center;
	word-wrap:break-word;
	overflow:hidden;
}

.question-identity{
	margin-top: 100px;
	text-align: right;
	width: 100%;
}

.answer{
	height: 150px;
}

.answer a{
	text-decoration: none;
	color : black;
}

.answer-vote{
	float:left;
	margin-left: 1%;
	width:5%;
	height:90%;
}

.answer-vote p{
	text-align: center;
}

.answer-content{
	float:left;	
	width: 60%;
	margin-right: 5%;
	text-align: center;
	word-wrap:break-word;
	overflow:hidden;
}

.answer-identity{
	margin-top: 100px;
	text-align: right;
	width: 100%;
}

.edit a{
	text-decoration: none;
	color:orange;
}

.delete a{
	text-decoration: none;
	color:red;
}


.name{
	width:98%;	
	margin-left: 5px;
	margin-top:15px;
}

.email{
	width:98%;	
	margin-left: 5px;
	margin-top: 5px;
}

.content{
	width:98%;	
	margin-left: 5px;
	margin-top: 5px;
	height: 150px;
}

.submit-button{
	margin-top: 5px;
	margin-left:90%;
	width:75px;
}

h2.answer-form{
	margin-left: 20px;
	color:#808080;
}

input.name{
	margin-top: 0px;
}