h1 {
    text-align: center;
    font-family: Calibri;
    font-size: 50px;
}

h2 {
    font-family: Calibri;
    font-size: 40px;
    margin-bottom: 0px;
}

input {
   border: 2px solid #000; 
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

hr {
    border: 1px solid #000;
    width: 100%;
}

table {
    font-family: Calibri;
    margin-top: 10px;
    table-layout: fixed;
    width: 100%;
}

td.number {
    width: 50px;
    text-align: center;
    vertical-align: top;
    font-size: 30px;
    color: grey;
}

td.content {
    vertical-align: top;
    padding-top: 1%;
    font-size: 20px;
    width: 500px;
}

input {
    border: 1px solid #000; 
    font-size: 16px;
}

input.text {
   width: 100%;
   font-family: arial;
}

input.button {
    margin-left: 96.3%;
}

textarea {
    width: 99.7%;
    border: 1px solid #000;
    font-family: arial;
    font-size: 16px;
}