body {
	font-family:Calibri;
	margin-left:20%;
	margin-right:20%;
	margin-top:30px;
}

input.button {
	margin-left:94.4%;
}

h1 {
	text-align:center;
}

h2 {
	margin-bottom:0;
}

hr {
	border:1px solid black;
	margin-bottom:1em;
}

input.text {
	margin-bottom:0.2em;
	padding:3px;
}

textarea {
	margin-bottom:0.2em;
	padding:3px;
	font-family:Calibri;
	font-size:14;
}