<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #d0e4fe;
}

h1 {
    color: darkblue;
    text-align: center;
    font-family: "Century Gothic";
}

p {
    font-family: "Dosis";
    font-size: 20px;
}
</style>
  </head>


    <body>
    <Center>
    <h1>Simple StackExchange</h1>

                              <form action="demo_form.asp">
<input type="text" name="LastName" value=""><input type="submit" value="search"><br>
                                                                                 </form>


                                                                                   <p>Cannot find what you are looking for?
<a href="http://www.w3schools.com/html/">ask here</a>
                                                   </p>





                                                     </Center>

                                                       </body>
                                                         </html>
