h1 {
    text-align: center;
    font-family: Calibri;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: Calibri;
    font-size: 18px;
    margin-top: 0px;
}

h3 {
    font-family: Calibri;
    font-size: 24px;
    margin-bottom: 0px;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

hr {
    border: 1px solid #000;
    width: 99%;
}

table {
    font-family: Calibri;
    font-size: 18px;
    margin-top: 10px;
    table-layout: fixed;
    width: 99%;
}

td.number {
    width: 50px;
    text-align: center;
}

td.text {
    text-align: center;
}

td.topic {
    width: 300px;
    overflow: hidden;
}

td.username {
    overflow: hidden;
    text-align: right;
    padding-right: 1%;
    border-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

td.attribute {
    width: 26px;
}

td.empty {
    width: 70px;
}

td.edit {  
    text-align: center;
}

td.delete {
    border-style: solid;
    padding-left: 1%;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    text-align: center;
}

p {
    text-align: center;
    font-family: Calibri;
    font-size: 18px;
}