#header{
    text-align: center;
    margin-bottom: 40px;
}
#content{
    margin:auto;
    padding:20px 20px 60px 0px;
    max-width:1050px;
}
#logo{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: xx-large;
    display:block;
    margin: 20px 0px 30px 0px;
}
#search{
}
.searchbar{
    border : 2px solid;
    max-width: 475px;
    width: 100%;
    height: 25px;
}
.button{
    margin-left: 2px;
    border : 2px solid black;
    padding : 5px 20px !important;
    background-color: whitesmoke;
}
.button:hover{
    cursor: pointer;
}
#button_post{
    float: right;
}
.y_link{
    text-decoration: none;
    color:#ffd200;
}
.r_link{
    text-decoration: none;
    color: #df0000;
}
.b_link{
    text-decoration: none;
    color:#0000bb;
}
p{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
h2,h3{
    font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
    border-bottom: 2px solid #000000;
}

input[type="text"]{
    margin: 2px 0 2px 0;
    width : 100%;
    height: 20px;
}
textarea{
    margin: 2px 0 2px 0;
    width: 100%;
    height: 100px;
}
.questions{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    padding: 15px 0px 20px;
    border-bottom: 1px solid #000000;
}
.vote{
    display:inline-block;
    text-align: center;
    padding : 2px 5px 2px 5px;
    margin-left: 20px;
}
.answer{
    display:inline-block;
    padding : 2px 5px 2px 5px;
    text-align: center;
    margin-left: 10px;
}
.topic{
    font-size: larger;
    text-align: center;
}
.details{
    text-align: right;

}