#header{
    text-align: center;
}

#logo {
    font-family: 'Segoe UI',Tahoma, sans-serif;
    font-size: 30px;
}

#content-title {
    font-family: 'Segoe UI',Tahoma, sans-serif;
    font-size: 25px;
}


#searchBar{
    height:22px;
    width: 500px;
    border-style: solid;
    border-width: medium;
}

#searchButton{
    height:30px;
    width: 60px;
    border:solid;


}

#content{
    text-align: center;
}

#content input,textarea{
    width: 88%;
    margin-bottom: 5px;
}

#question input#submit{
    float: right;
    width : 20%;
    margin-right: 30px;
}

#askHere{
    color: orange;
    text-decoration: none;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}