<head>
<style>
body {
    background-color: white;
    overflow: scroll;
}

html {
    /* OVERFLOW HIDDEN NOT ALLOWING JAVASCRIPT SCROLL */
    overflow: visible;
}

h1 {
    color: black;
    text-align: center;
    font-family: "arial";
}
h4.relative1 {
    position: relative;
    color: black;
    font-family: "Century Gothic";
    left: -250px;
}
h4.relative2 {
    position: relative;
    color: black;
    font-family: "Century Gothic";
    left: px;
}
h4.relative3 {
    position: relative;
    color: lightgrey;
    font-family: "Century Gothic";
    left: -287px;
}
h4.relative4 {
    position: relative;
    color: black;
    font-family: "Century Gothic";
    left: -293px;
}
h4.relative5 {
    position: relative;
    color: black;
    font-family: "Century Gothic";
    left: -220px;
}

hr {
    display: block;
    margin-top: 0.1 em;
    margin-bottom: 0.1 em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
input.contentquestion{
    height: 150px;
    width: 669px;
    height: 100px;
}
input.textboxposquestion{
    position: relative;
    color: black;
    font-family: "Century Gothic";
    left: 310px;

}

textarea{
    position: relative;
    left: 2px;
}
textarea.newanswer{
    position: relative;
    left: 2px;
}


p {
    font-family: "Dosis";
    font-size: 20px;
}

a {
    color: orange;
    text-decoration: none;
}
#bluelink{
    color: blue;
    text-decoration: none;
}
#redlink{
     color: red;
     text-decoration: none;
 }
#blacklink{
    color: black;
    font-family: verdana;
}
#dashboard{
    color: black;
    font-family: arial;
    font-size: xx-large;
}
</style>
  </head>