.title{
	text-align: center;
	font-size: 40px;
}

.black{
	color: black;
}

.align {
    margin: auto;
    width: 60%;
    padding: 15px;
}

h3{
	color: grey;
	font-size: 30px;
}

.button:hover{
	cursor: pointer;
}

.RAQ{
	margin: auto;
    width: 60%;
    padding: 5px;
	margin-bottom: 85px;
}

.answer_question {
    margin: auto;
    width: 60%;
    padding: 15px;
	margin-bottom: 200px;
}

.answer_topic {
    position: absolute;
	overflow:auto;
    right: 300px;
    width: 700px;
    height: 150px;
    padding: 10px;	
	text-decoration: none;
}

.answers{
	margin: auto;
    width: 60%;
	margin-bottom: 220px;
	margin-top: 5px;
}

.Margin{
	margin: auto;
    width: 60%;
}

.vote {
    position: absolute;
    right: 1000px;
    width: 50px;
    padding: 10px;
	text-align: center;
}

.answer {
    position: absolute;
    right: 930px;
    width: 50px;
    padding: 10px;
	text-align: center;
}

.number{
	height: 25px;
}

.topic {
    position: absolute;
    right: 600px;
    width: 300px;
    height: 80px;
    padding: 10px;	
	text-decoration: none;
}

.topic_link{
	color: black;
	font-weight: bold;
}

.asked {
    position: absolute;
    right: 100px;
    width: 300px;
    height: 80px;
	padding: 60px;
}

.name{
	color: blue;
}

.color_yellow{
	color: yellow;
}

.delete{
	color: red;
}

.asked_email{
	position: absolute;
    right: 180px;
    width: 300px;
    height: 80px;
	padding: 60px;
	margin-top: 120px;
}

.form{
	margin: auto;
    width: 58%;
}

.form_search{
	width: 620px;
	height:20px;
	border : 2px solid;
}

.form_submit{
	width: 80px;
	height:25px;
	border : 2px solid;
}

.form_question{
	width: 800px;
	height:20px;
	border : 2px solid;
}

.form_content{
	width: 800px;
	height:100px;
	border : 2px solid;
	resize : none;
}

.kotakform{
	border-width: 25px;
	padding: 3px;
}

.form_post{
	border-width: 25px;
	padding: 3px;
	position: absolute;
    right: 20px;
    width: 300px;
}

p{
	text-align: center;
	
}

h2{
	font-size: 22px;
}

a{
	text-decoration: none;
}