.container
{
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.editor
{
	float: right;
}

.boxsearch
{
    width: 75%;
    float: left;
}

.posisisearch
{
    border-radius: 2px;
	padding: 8px;
	float: left;
    margin-left: 5px;
}
.boxform
{
	width:50%;
	margin: 0 auto;
}


.posisipost
{
    border-radius: 2px;
	padding: 8px;
	float: right;
}

.box
{
	width: 99%;
    font-family: Calibri;
}


.vote-up {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid black;
}

.vote-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid black;
}

.vote-count
{
	width: 20%;
	float: left;
}

.votequest
{
	display: block;
	padding-top: 20px;
	border-top: 2px solid black;
}

.question
{
	float:left;
	width: 80%;
}
.vote
{
	text-align: center;
	font-size:35px;
}
.vote-up,.vote-down,.vote
{
	margin:0 auto;
}
h1
{
	text-align: center;
}
h3
{
	text-align: center;
}

h5
{
    text-align: center;
}
input[type="text"],textarea
{
	padding:7px 0px 7px 9px;
	border: 2px solid black;
	resize: none;
	border-radius: 10px;
}

.edit
{
    color: yellow;
}

.delete
{
    color: red;
}

.ask
{
    color: orange;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration:underline;
}

.listform
{
    border-top: 1px solid black;    
}

.listform:after
{
    content:"";
    clear:both;
    display: table;
}

.listvotes, .listanswer{
    float: left;
    width: 10%; 
    text-align: center;
    margin-top: 5px;
}

.listtopic
{
    float: left;
    width: 55%;
    text-align: center;
    margin-top: 5px;
}

.listeditor
{
    float: left;
    width: 25%;
    text-align: right;
    margin-top: 5px;
}

.board
{
    margin-left: 20%;
    margin-right: 20%;
}