h1 {
	font-family:"batang";
	text-align:center;
}
hr{
	border: 2px solid black; 
	margin: 5px;
	position:relative;
	left:25%;
	width:50%
}

#style1{
	text-align:center;
}

#linkstyle1{
	color:orange;
	text-decoration:none;
}
#linkstyle2{
}
#linkstyle3{
}
#linkstyle4{
}

h2 {
	border-bottom:solid;
	position:relative;
	left:25%;
	width: 50%;
	font-family:"batang";
}

div.formpos{
	position: relative;
	left : 25%;
}
div.search{
	position:fixed;
	left :25%;
	width : 80%;
}
div.searchstyle{
	float:right;
	position: relative;
	right:49%;
}


input.form-textfield{
	width: 50%;
	border: 2px solid black;
	margin : 5px;
}

textarea.form-textarea{
	width:50%;
	height: 200px;
	border : 2px solid black;
	margin: 5px;
}