body {
	font-family : sans-serif;
	background-color: #f5f5f5;
	font-size : 12px;
}


header {
	text-align : center;
	background-color: #ffffff;
	margin: 50px 250px 0px 275px;
	width: 800px;
	height: 150px;
	border: 1px solid black;
	border-bottom-width: 0px;
}

header p {
	font-size: 36px;
	padding-top: 10px;

}

.container {
	width: 800px;
	margin: 0px 0px 0px 275px;
	position : absolute ;
	text-align: center;
	background-color: #ffffff;
	border : 1px solid black;
	border-top-width: 0px;
	padding-bottom: 500px;
}

#page_form {
	height: 800px;
}

#question {
	width: 450px;
	height: 30px;
	margin-right: 10px;
	box-shadow: 1px 2px 2px #000000;
}

.find_question p {
	margin-top: 5px;
}

#search {
	width: 80px;
	height: 38px;
	background-color: #FFFFFF;
	font-size: 14px;
	box-shadow: 1px 2px 2px #000000;
}

#edit {
	color : #FFD700;
	text-decoration: none;
}

#ask_here {
	color : #FFD700;
	text-decoration: none;
}

a {
	color : black;
	text-decoration: none;
}
#title {
	text-align: left;
	margin: 0px 128px 0px 120px;
	font-size: 24px;
	margin-top: 0px;
	border-bottom: 2px solid;
}

.recently #title {
	margin-top: 30px;
	font-size: 18px;
}


.find_question input {
	border: 3px solid black;
	border-radius: 4px;
}

#form input,textarea {
	display : block;
	margin: 5px 0px 0px 123px;
	width: 540px;
	border: 1px solid black;
	height: 23px;
	font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#form {
	margin-bottom: 20px;
}

#form #post {
	text-align: center;
	width: 60px;
	margin-left: 609px;
}

#form #content {
	height: 150px;
}

#question_content {
	text-align: justify;

}

#edit {
	color: #FFD700;
}

#delete {
	color: red;
}

#username {
	text-align: right;
}

#username #name {
	color: blue;
}

.answer_question #title {
	text-align: left;
	margin: 0px 128px 25px 120px;
	padding-top: 15px;
	padding-left: 5px;
	margin-top: 0px;
	border-top: 2px solid #778899;
	border-bottom-width: 0px;
	color: #778899;
}

#title2 {
	font-weight: bold;
	text-align: left;
	margin-bottom: 0px;
	color: black;

}

#title3 {
	text-align: left;
	font-size: 20px;
	margin-bottom: 0px;

}

.statistic {
	padding: 0px 15px 0px 15px;
	text-align: center;
}

.statistic2 {
	padding: 0px 35px 0px 35px;
	text-align: center;
	font-size: 28px;
	color: gray;
}

table {
	margin: 0px 128px 25px 120px;
	width: 555px;
}

th {
	padding-bottom: 0px;
	border-bottom: 2px solid black;
}

#total_votes2 {
	font-size: 28px;
	color: gray;
	margin: 5px 0px 5px 0px;
}

.statistic2 p {
	font-size: 28px;
	margin: 5px 0px 5px 0px;
}

img {
	width: 20px;
	height: 20px;
	margin: 0px 0px 0px 0px;
}

#up_button_answer, #up_button_question {
	margin-top: 10px;	
}

#down_button_answer, #down_button_question {
	margin-bottom: 10px;
}
