h1 {
	text-align: center;
	font-family: "cure.se medium", Verdana, "Times New Roman";
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 30px;
}

a#a1 {
	text-decoration: none;
	color: #ffd000;
}

a#a2 {
	text-decoration: none;
	color: #ffd000;
}

a#a3 {
	text-decoration: none;
	color: black;
}

a#a4 {
	text-decoration: none;
	color: red;
}

p#p1 {
	text-align: center;
}

p#p2 {
	text-align: left;
	padding-left: 8px;
	font-size: 24px;
	border-bottom: 2px solid black;
}

p#p3 {
	text-align: left;
	font-size: 28px;
	border-bottom: 2px solid black;
}

div#div1 {
	text-align: center;
}

div#div2 {
	width: 700px;
	padding-left: 230px;
	padding-right: 230px;
	margin-left: 100px;
	margin-right: 100px;
}

div#div3 {
	width: 700px;
	padding-left: 230px;
	padding-right: 230px;
	margin-left: 100px;
	margin-right: 100px;
}

div#div4 {
	display: block;
	clear: both;
	border-bottom: 2px solid black;
}

div#div5 {
	text-align: right;
	display: block;
	clear: both;
}

div#idx_vote {
	float: left;
	position: relative;
	top: 10px;
	text-align: center;
	width: 10%;
}

div#idx_answer {
	float: left;
	position: relative;
	top: 10px;
	text-align: center;
	width: 10%;
}

div#idx_title {
	position: relative;
	font-weight: bold;
	width: 80%;
}

div#idx_content {
	width: 80%;
	position: relative;
	float: right;
	text-align: left;
}

div#ask_box {
	width: 700px;
	padding-left: 230px;
	padding-right: 230px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

div#ask_submit {
	text-align: right; 
}

div#question_title {
	position: relative;
	font-weight: bold;
	font-size: 30px;
	border-bottom: 2px solid black;
}

div#question_content {
	width: 90%;
	position: relative;
	float: right;
	text-align: left;
}

div#question_box {
	width: 700px;
	padding-left: 230px;
	padding-right: 230px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

div#question_submit {
	text-align: right; 
}

div#YourAnswer {
	text-align: left;
	padding-left: 20px;
	font-size: 30px;
	color: grey;
}

div#AnswerCount {
	text-align: left;
	padding-left: 20px;
	font-size: 30px;
	color: black;
}

span#idx_name {
	color: blue;
}

span#idx_edit {
	color: #ffd000;
}


input[type=text]#t1 {
	width: 600px;
	height: 25px;
	border-style: solid;
	border-width: 2px;
}

input[type=submit] {
	height: 25px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: white;
}

input[type=text] {
	width: 700px;
	height: 25px;
	margin-bottom: 2px;
}

textarea {
	width: 700px;
	height: 300px;
}
