h1 {text-align : center;
	font-size : 40px;
	font-family : serif;	
}
h2 {text-align : left;
	font-size : 30px;
	font-family : serif;
}
body {margin-left : 20%;
		margin-right : 20%;
		background : aliceblue
}
		
#searchbox {border-style: solid;
			border-width: 5px;
			border-color : black;
			width: 550px;
			height: 20px;
			
}
.container-4 input#search{
  width: 550px;
  height: 30px;
  background: snow;
  border: 2px solid;
  font-size: 10pt;
  color: black;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#textbox {border-style: solid;
			border-width: 2px;
			border-color : black;
			margin: 0 auto;
			margin-top: 15px;
			width: 100%;
			height: 30px;
			font-family : arial;
			word-wrap :break-word;
}
#textarea {border-style: solid;
			border-width: 2px;
			border-color : black;
			margin: 0 auto;
			margin-top: 15px;
			width: 100%;
			height: 200px;
			font-family : arial;
			word-wrap :break-word;
}
#submit {padding:5px 15px; border:1;
		 border-width : 2px;
		 border-style : solid;
		 border-color:black;
		 margin-right: 95px;
		 width: 70px;
		 height: 32px;
		 font-size : 14px;
		 font-family : arial;
}
#post {padding:5px 15px; border:1;
		 margin-right: -765px;
		 width: 70px;
		 height: 32px;
		 font-size : 14px;
		 font-family : arial;
}
#judul {text-align : left;
		font-size : 20px;
		font-family: arial;
		margin: 0 auto;
		word-wrap :break-word;
}
#judulbesar {text-align : left;
		font-size : 30px;
		font-family: arial;
		margin: 0 auto;
		color: #999999;
		word-wrap :break-word;
}
#judul2 {text-align : center;
	font-size : 16px;
	font-family : arial;
	word-wrap :break-word;
}
#td1 {width : 100px;
	  height : 100px;
	  vertical-align : center;
	  text-align : center;
	  word-wrap :break-word;
}
#td2 {width : 450px;
	  height : 100px;
	  vertical-align: top;
	  text-align : center;
	  font-size : 24px;
	  word-wrap :break-word;
}
#td3 {width : 450px;
	  height : 100px;
	  vertical-align: bottom;
	  text-align : right;
	  word-wrap :break-word;
}
#td4 {width : 200px;
	  height : 75px;
	  vertical-align : center;
	  text-align : center;
	  font-size : 30px;
	  font-family : arial;
}
#td5 {width : 600px;
	  height : 75px;
	  vertical-align: top;
	  text-align : left;
	  font-size : 14px;
	  font-family : arial;
	  word-wrap: break-word;
}
#td6 {width : 800px;
	  height : 50px;
	  vertical-align: bottom;
	  text-align : right;
	  font-family : arial;
}
#img {width : 42px;
	  height: 42px;
}
hr {border : 2px solid;
	border-color : black;
}
blue {color : blue;
		text-align : right;
		word-wrap :break-word;}
yellow {color : #ffa000;
		text-align : right;
		word-wrap :break-word;}
red {color : #ff0055;
		text-align : right;
		word-wrap :break-word;}
.content {font-size : 15px;
		  font-family : arial;
		  word-wrap :break-word;
}
