body {
    margin-left:20%;   
    margin-right: 20%;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;   
}

h2 {
    text-align: left;
    margin-left: 3%;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    border-bottom: 1px solid #c9b7b7
}

button {
    background-color: darkgrey;
    border-width: thin;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 3px;
    height: 40px;
}

.searchform {
    width: 89%;
    border: 3px solid #000;
    border-radius: 3px;
    margin-left: 0%;
    margin-bottom: 5px;
    height: 40px;
    font-family: 'Dosis', sans-serif;
}

.submitbutton {
    display: inline;
    height: 40px;
    border: 3px solid #000;
    border-radius: 3px;
    background-color: white;
    width: 10%;
}

#asksubmit {
    display: inline;
    height: 40px;
    border: 2px solid #000;
    border-radius: 3px;
    background-color: dimgrey;
    width: 10%;
    margin-left: 81%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

#asksubmit:hover {
    display: inline;
    height: 40px;
    border: 2px solid #777e63;
    border-radius: 3px;
    background-color: limegreen;
    color:white;
    width: 10%;
    margin-left: 81%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.submitbutton:hover {
    background-color: #52b441;
    color: antiquewhite;
    cursor: pointer;
    border-radius: 0px;

}


.yellowlink {
    color:#ea850f;
    text-decoration:none;
}

.buttonlink button{
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-radius: 0px;
    cursor: pointer;
    height: auto;
    display: inline!important;
    color: darkorange;
}

.editnya {
    display: inline-block;
}

.namanya {
    color: dodgerblue;
}

.deletenya{
    text-decoration: none;
    color: red;
}

.inputask {
    width: 90%;
    border-radius: 3px;
    border: 10px 5px 10px 5px;
}

.content {
    display: inline;
    margin-left: 5%;
}

#asknama {
    border: 2px solid #000;
    margin-bottom: 3px;
    height: 25px;
    font-family: Ubuntu;
    font-size: 15px;
    padding: 2px 2px 2px 2px;
}

#emailask{
    border: 2px solid #000;
    margin-bottom: 3px;
    height: 25px;
    font-family: Ubuntu;
    font-size: 15px;
    padding: 2px 2px 2px 2px;

}

.inputask{
    border: 2px solid #000;
    margin-bottom: 3px;
    font-family: Ubuntu;
    font-size: 15px;
    padding: 2px 2px 2px 2px;
}


#asktopic{
    border: 2px solid #000;
    margin-bottom: 3px;
    height: 25px;
    font-family: Ubuntu;
    font-size: 15px;
    padding: 2px 2px 2px 2px;

}

#contentpost {
    height: 150px;
}

p {
    text-align: left;   
    font-family: 'Ubuntu', sans-serif;
}

#searchbar {
    text-align: center;
    display: inline;
}

#keterangan {
    text-align: center;
}

#askbar {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 5px;
}

#asktitle {
    border-bottom: 2px solid #000;
    margin-left: 5%;
    margin-right: 5%;
}

.questionlist {
    border-top: 1px solid #9a9896;

}

.questioncontent {
	z-index: 100;
	background: #fff;  
    display: inline-block;
    text-align: left;
}

.votecount {
    display: inline;
}

#votecountans {
font-family: Dinpro;
    font-size: 25px;
    margin-left: 6%;
    display: grid;
}
.votebuttup {
    display: inline-block;
    font-size: 30px;
    cursor:pointer;
    text-align: center;
    margin-left: 5%;
}

.votebuttdown {
    display: inline-block;
    font-size: 30px;
    cursor:pointer;
    text-align: center;
    margin-left: 5%;

}

.votecount #votecountnum {
    font-family: Dinpro;
    font-size: 25px;
    margin-left: 6%;
    display: grid;
    
}
.questiontopic {
	z-index: 100;
	background: #fff;  
    display: block;
    font-size: 22px;
    color: #723b3b;
    text-decoration: none!important;
    font-family: 'Dinpro', sans-serif;
    text-align: left;
}

.questiontopic a:visited {
	z-index: 100;
	background: #fff;  
    display: block;
    font-size: 22px;
    color: #1cef75!important;
    text-decoration: none!important;
    font-family: 'Dinpro', sans-serif;
    text-align: left;
}

.vote {
    display: inline-block;
}

.answers {
    display: inline-block;
}

.anstitle {
    border-bottom: 1px solid #000;
    right: 10%;
    position: relative;
    margin-left: 10%;
    margin-right: -10%;
}

.angka {
    display: inline-block;
    width: 15%;
}

.questionfooter {
    text-align: right;
    display: block;
    margin-bottom: 4px;
}


.ketvote{
    background: #fff;   
	margin-right: 10px;
    font-style: bold;
    display: inline-block;
    text-align: center;
}

.jlhvote{
	background: #fff;   
    font-size: 40px;
    display: block;
    text-align: center;
}
    
.question {
    display: block;
    width: 60%;
}

.iquestion {
    display: inline-block;
    width: 60%;
    text-align: left;
}

.answersp {
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 5px;
    margin-top: 25px;
    display: block;
    border-bottom: 1px solid #000;
}


.titlep {
    padding-bottom: 5px;
    margin-top: 5px;
    display: block;
}

.isipertanyaan {
    display: inline-block;
    width:80%;
    font-family: Ubuntu;
    margin-top: -5%;
}

.footerpertanyaan {
    display: inline-block;
    float:right;
    margin-right: 0px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: Dinpro;
    font-size: 15px;
}


.isijawaban {
    display: inline-block;
    width:80%;
    font-family: Ubuntu;
    margin-bottom: 30px;
}

.footerjawaban {
    display: inline-block;
    float:right;
    font-family: Dinpro;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 30px;

}

#submitans {
    display: block;
    background-color: grey;
    margin-left: 84%;
    height: 40px;
    border: 2px solid #000;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
}

#submitans:hover {
    display: block;
    background-color: limegreen;
    margin-left: 84%;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 2px;

}

#namapenjawab {
    
    color: dodgerblue;
    
}
