*{
  font-family: arial;
}
.view {
  margin: 20px 25% auto 25%;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

h1, h2, h3 {
  font-weight: lighter;
}

hr {
  border: 1.8px;
  border-style: solid;
}

#head {
  margin-top: 40px;
  margin-bottom: -2px;
}

a {
  text-decoration: none;
}

.ask-here a, .edit a {
  color: orange;
}

.name {
  color: blue;
}

.delete a{
  color: red;
}


input[type=text], textarea {
  height:17px;
  width: 98%;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1.5%;
  font-family:sans-serif;
  font-size: 13px;
  border-style: solid;
  border-color: black;
}

textarea {
  height: 113px;
}

input[type=submit] {
  float:right;
  margin-right: -0.25%;
  border-style: solid;
  border-color: black;
}

input[name=search] {
  width: 80%;
  height: 25px;
}

#search{
  padding-top: 22px;
}

#search input[type=submit] {
  float: right;
  width: 17%;
  height: 33px;
}

.ask-here{
  padding-top: 10px;
  text-align: center;
}

.ask-here div, .row div {
  display: inline-table;
}

.question-row {
  padding-bottom: 20px;
}
.vote-col, .answer-col {
  text-align: center;
  width: 10%;
}

.content-col {
  text-align: center;
  width: 60%;
  word-wrap: break-word;
}

.content-col p {
  text-align: left;
}


.other {
  display: inline-block;
  float: right;
}

img {
  width: 40px;
  height: 40px;
}

.vote-col-1 {
  width: 20%;
  text-align: center;
}

.content-col-1 {
  text-align: left;
  width: 75%;
  word-wrap: break-word;
}

h3{
  display: inline-block;
}
