// Applying style to html base element
body {
  font-family: 'Open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #222;
  background-color: $body-background;
}

p {
  margin-bottom: 1em;
}

a {
  color: $blue-secondary;
  text-decoration: none;

  &:visited {
    color: $blue-secondary;
    text-decoration: none;
  }

  &:hover {
    color: $blue-main;
    text-decoration: underline;
  }
}

input,
textarea {
  padding: 5px 10px;
  border-radius: 2px;
}

input:not([type="submit"]),
textarea {
  height: 38px;
  background: $container-background;
  border: 2px solid $blue-tertiary;
}
