// Color
$body-background: #DDD;
$container-background: #FDFDFD;

$title-color: #195398;

$blue-main: $title-color;
$blue-secondary: #0077CC;
$blue-tertiary: #62B0DF;

$green-main: #1A7E26;
$green-secondary: #D7f4DD;

$orange-main: #6f6319;
$orange-secondary: #1A7E26;

$border-color: #B8B8B8;

// Typography
$font-color__main: #2F2F2F;
$font-color__secondary: #5C5C5C;

$font-weight__light: 300;
$font-weight__normal: 400;
$font-weight__semi-bold: 600;
$font-weight__bold: 700;

