a {
	text-decoration: none;
}

answers {
	display: inline-block;
	margin: 0 0 0 1.5%;
	text-align: center;
	width: 60px;
}

body {
	font-family: "Calibri";
}

content {
	display: inline-block;
	margin: 0 10.5% 0 2%;
	width: 71.3%;
}

h1 {
	font-size: 200%;
	font-weight: normal;
	margin-bottom: 50px;
	text-align: center;
}

h2 {
	font-size: 170%;
	font-weight: normal;
	margin: 65px 0 3px 10.5%;
}

h3 {
	font-size: 130%;
	font-weight: normal;
	margin: 20px 0 3px 10.5%;
}

questionContent {
	display: inline-block;
	color: grey;
	margin: 0 0 0 3.6%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	width: 48%;
}

questionTopic {
	display: inline-block;
	font-size: 130%;
	margin: 0 27% 0 25%;
	width: 48%;
}

textarea {
	border: 1.5px solid;
	font-family: "Calibri";
	font-size: 100%;
	margin: 5px 10.5% 0 10.5%;
	padding: 0.5% 1%;
	width: 77%;
}

votes {
	display: inline-block;
	margin: 0 0 0 12%;
	text-align: center;
	width: 41px;
}

voteupdown {
	display: inline-block;
	font-size: 170%;
	margin: 0 0 0 12%;
	text-align: center;
	vertical-align: top;
	width: 41px;
}

.askedAnsweredBy {
	margin: 0 10% -45px 0;
	text-align: right;
}

.askedBy {
	margin: -25px 10% 20px 0;
	text-align: right;
}

.askQuestionData {
	border: 1.5px solid;
	font-family: "Calibri";
	font-size: 100%;
	margin: 5px 10.5% 0 10.5%;
	padding: 0.25% 1%;
	width: 77%;
}

.center {
	text-align: center;
}

.questionBoundary {
	border-top: 2px solid;
	margin: 1px 10% 10px 10%;
	text-align: center;
	width: 80%;
}

#postButton {
	border: 1.5px solid;
	font-family: "Calibri";
	font-size: 100%;
	margin: 8px 10.5% 0 85.4%;
	padding: 0.25% 1%;
}

#searchBox {
	border: medium solid;
	font-family: "Calibri";
	font-size: 100%;
	margin-right: 0.5%;
	padding: 0.25% 1%;
	width: 70%;
}

#searchButton {
	background-color: white;
	border: medium solid;
	font-family: "Calibri";
	font-size: 100%;
	padding: 0.25% 1%;
}