@charset "utf-8";
/* CSS Document */

/*** Default CSS ***/
body {
	background : #FFF;
	font : 15px 'lucida sans', 'trebuchet MS', 'Tahoma'a;
	color: #000;
	text-align: center;
	padding:0px;
	margin:0px;
}

a {
	color:#000;
	text-decoration:none;
}

h1 {
	font-size:36px;
	white-space:nowrap;
}

h2 {
	font-size:24px;
	white-space:nowrap;
	margin : 2px;
}

p.your-answer {
	font-size:24px;
	white-space:nowrap;
	margin: 40px 12px 0px 12px;
	color:#999;
}

span.username {
	color:#36F;
}

span.edit {
	color:#F93;
}

span.delete {
	color:#C00;
}

	
#container {
	background : transparent;
	width:650px;
	height : 480px;
	padding: 20px;
	margin: 20px auto 20px auto;
	text-align:left;
}

#credit {
	background : transparent;
	width:650px;
	height : 150px;
	margin: auto;
	padding: 125px auto 0px auto;
	border-top:2px;
	text-align:center;
}

#credit-td {
	margin: 150px auto 0px auto;
}


/*** Search Box ***/
#search-box {
	background:transparent;
	margin: 0px auto auto auto;
	width : 650px;
	padding: 0px 20px;
	white-space:nowrap;
}


#search-box a {
	color:#F93;
	text-decoration:none;
	font-weight:bold;
}

.search {
    width: 570px;
	height: 44px;
    padding: 0px;
    margin: 40px auto 0px auto;
}
	
.search-box {
	width: 443px;
	height: 20px;
    padding: 5px;
	margin: auto;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 4px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;      
}
	
.search input{
	outline:none;
	font : bold 13px 'Lucida sans', Arial, Helvetica;
}

.search button {
	font : bold 15px 'Lucida sans', Arial, Helvetica;
	color : #000;
	background:transparent;
	outline : none;
	width : 100px;
	height : 38px;
	margin : auto auto auto 7px;
    float: right;
    border: 4px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;   
}
		
.search button:hover{		
	background: #CCC;
}	

/*** Container Title ***/
.container-title {
	width:inherit;
	border-bottom: solid 3px;
	margin:0px;
	padding-left:5px;
	vertical-align:bottom;
}

/*** Question Index ***/	
.questions-table {
	width:650px;
	height:70px;
	border-bottom: solid 2px;
	float : left;
	margin: 0px auto auto 5px;
}
	
.td-vote-answer {
	width : 70px;
	text-align:center;
	font-size:14px;
	vertical-align:top;
	padding-top:10px;
}
	
.td-topic {
	width: 510px;
	height : 16px;
	padding: 8px 0px 0px 8px;
	font-size:15px;
	font-weight:bold;
}

.td-content {
	width: 510px;
	min-height : 40px;
	padding: 3px 0px 0px 8px;
	text-align:justify;
	vertical-align:top;
	font-size:13px;
}
	
.td-detail{
	width: 510px;
	height:20px;
	padding-bottom: 10px;
	font-size:12px;
	text-align:right;
}
	
/*** Ask & Answer Form ***/
.form-wrapper {
    width: 650px;
	height: 400px;
    padding: 0px 6px;
    margin-top: 20px;
}

	
.form-wrapper input{
	width: 620px;
	height: 20px;
    padding: 5px;
	margin: 5px;
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 2px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	outline:none;
}

.form-wrapper textarea{
	width: 620px;
	height: 100px;
    padding: 5px;
	margin: 5px;
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 2px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	outline:none;
}

/*	
.form-wrapper textarea::-webkit-input-placeholder {
    color: #000;
	font-weight: bold;
}

	
.form-wrapper input::-webkit-input-placeholder {
    color: #000;
    font-weight: bold;
}
    
.form-wrapper input:-moz-placeholder {
	color: #000;
    font-weight: bold;
}
    
.form-wrapper input:-ms-input-placeholder {
	color: #000;
    font-weight: bold;
} 
*/	
.form-wrapper button {
	font : bold 15px 'Lucida sans', Arial, Helvetica;
	color : #000;
	background:transparent;
	outline : none;
	width : 90px;
	height : 38px;
	margin : 8px 11px;
    float: right;
    border: 2px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;  
}
		
.form-wrapper button:hover{		
	background: #CCC;
}	

/*** Question Detail ***/	
.question {
	width:650px;
	min-height:150px;
	margin: 8px auto auto 5px;
}

.answer {
	width:655px;
	min-height:100px;
	margin: 8px 0px 0px 0px;
	border-bottom:#666 solid 1px;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #E1E1E1;
	margin:auto;
	cursor:pointer;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right:8px solid transparent;
	border-top: 16px solid #E1E1E1;
	margin:auto;
	cursor:pointer;
}

#votes {
	font-size : 28px;
	color : #C9C9C9;
	margin: 2px auto;
	font-weight:bold;
}
