<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple StackExchange</title>

	<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<div class="container">
		<div class="align-center" id="title">
			<h1>Simple StackExchange</h1>	
		</div>

		<div id="search">
			<div class="pull-left">
				<input type="search" id="search-form">
			</div>
			<div class="pull-right">
				<button id="search-btn">Search</button>
			</div>
		</div>

		<div class="align-center" id="ask">
			<p>
				Cannot find what you are looking for? <a href="">Ask here</a>
			</p>
		</div>

		<div id="thread-list-title">
			<h2>Recently Asked Questions</h2>
		</div>
		<hr>

		<div>
			<div class="pull-left">
				<div class="floating-box">
					<h3>0</h3>
					<h3>Votes</h3>
				</div>
				<div class="floating-box">
					<h3>0</h3>
					<h3>Answers</h3>
				</div>
			</div>
			<div class="topic">
				<h4><a href="">The question topic goes here</a></h4>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution .....</p>
			</div>
			<div class="edit">
				<p>asked by <span class="name" >name</span> | <a href="">edit</a> | <a class="delete" href="">delete</a></p>
			</div>	
		</div>
		<hr>

		<div>
			<div class="pull-left">
				<div class="floating-box">
					<h3>0</h3>
					<h3>Votes</h3>
				</div>
				<div class="floating-box">
					<h3>0</h3>
					<h3>Answers</h3>
				</div>
			</div>
			<div class="topic">
				<h4><a href="">The question topic goes here</a></h4>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution .....</p>
			</div>
			<div class="edit">
				<p>asked by <span class="name" >name</span> | <a href="">edit</a> | <a class="delete" href="">delete</a></p>
			</div>	
		</div>
		<hr>

		<div>
			<div class="pull-left">
				<div class="floating-box">
					<h3>0</h3>
					<h3>Votes</h3>
				</div>
				<div class="floating-box">
					<h3>0</h3>
					<h3>Answers</h3>
				</div>
			</div>
			<div class="topic">
				<h4><a href="">The question topic goes here</a></h4>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution .....</p>
			</div>
			<div class="edit">
				<p>asked by <span class="name" >name</span> | <a href="">edit</a> | <a class="delete" href="">delete</a></p>
			</div>	
		</div>
		<hr>
		
	</div><!-- /container -->

	<script src="../js/script.js"></script>
</body>
</html>