<!DOCTYPE HTML>
<html>
  <head>
    <title>Stack Exchange</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/base.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Simple StackExchange</h1>

      <h2>What's Your Question?</h2>
      <hr>

      <input type="text" class="form" placeholder="Name">
      <input type="text" class="form" placeholder="Email">
      <input type="text" class="form" placeholder="Question Topic">
      <textarea class="form" placeholder="Content" rows="5"></textarea>

      <div class="text-right">
        <button class="btn" type="submit">Post</button>
      </div>
    </div>
  </body>
</html>