<!DOCTYPE HTML>
<html>
  <head>
    <title>Stack Exchange</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/base.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Simple StackExchange</h1>

      <h2>Berapakah 1 + 1?</h2>
      <div class="thread">
        <div class="row">

          <div class="span-1">
            <div class="arrow-up"></div>
            <div class="text-center">
              <h2>0</h2>
            </div>
            <div class="arrow-down"></div>
          </div>

          <div class="span-9">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in sollicitudin arcu. Pellentesque tempus ullamcorper dolor, sit amet maximus nunc aliquam vitae. Mauris sagittis tincidunt elit vel tristique. Sed quis leo placerat, pulvinar enim a, volutpat mauris. Sed eu magna purus. Aenean ut malesuada lectus, non auctor massa. Vivamus neque nibh, mollis at condimentum eget, congue ac nunc. Proin porttitor vestibulum ligula, ac maximus odio sodales ut.
            </div>
            <p class="text-right footer">
              Asked by Vincent Sebastian The at 27 November | <a href>Edit</a> | <a href>Delete</a>
            </p>
          </div>
        </div>
      </div>

      <h2>2 Answer</h2>
      <div class="thread">
        <div class="row">

          <div class="span-1">
            <div class="arrow-up"></div>
            <div class="text-center">
              <h2>0</h2>
            </div>
            <div class="arrow-down"></div>
          </div>

          <div class="span-9">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in sollicitudin arcu. Pellentesque tempus ullamcorper dolor, sit amet maximus nunc aliquam vitae. Mauris sagittis tincidunt elit vel tristique. Sed quis leo placerat, pulvinar enim a, volutpat mauris. Sed eu magna purus. Aenean ut malesuada lectus, non auctor massa. Vivamus neque nibh, mollis at condimentum eget, congue ac nunc. Proin porttitor vestibulum ligula, ac maximus odio sodales ut.
            </div>
            <p class="text-right footer">
              Answered by Vincent Sebastian The at 27 November
            </p>
          </div>
        </div>
      </div>

      <div class="thread">
        <div class="row">

          <div class="span-1">
            <div class="arrow-up"></div>
            <div class="text-center">
              <h2>0</h2>
            </div>
            <div class="arrow-down"></div>
          </div>

          <div class="span-9">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in sollicitudin arcu. Pellentesque tempus ullamcorper dolor, sit amet maximus nunc aliquam vitae. Mauris sagittis tincidunt elit vel tristique. Sed quis leo placerat, pulvinar enim a, volutpat mauris. Sed eu magna purus. Aenean ut malesuada lectus, non auctor massa. Vivamus neque nibh, mollis at condimentum eget, congue ac nunc. Proin porttitor vestibulum ligula, ac maximus odio sodales ut.
            </div>
            <p class="text-right footer">
              Answered by Vincent Sebastian The at 27 November
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>