html {
  width: 75%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.yellow {
  color: #FCD703;
}
.blue {
  color: #310DAD;
}
.red {
  color: #F14E58;
}
.right {
  text-align: right;
}
.title {
  margin: 20px 0 50px;
  text-align: center;
  font-size: 200%;
}
.subtitle {
  padding: 0 10px;
  font-size: 140%;
  border-bottom: 2px solid #aaa;
}
.stacked {
  margin: 20px 0;
}
#search-section {
  text-align: center;
}
#search-box {
  width: 70%;
  height: 30px;
  border: 2px solid #aaa;
}
.button {
  height: 35px;
  border: 2px solid #aaa;
}
.border-bottom {
  border-bottom: 1px solid #aaa;
}
.vote-number {
  float: left;
  width: 100px;
  text-align: center;
  overflow: auto;
}
.answer-number {
  float: left;
  width: 100px;
  text-align: center;
  overflow: auto;
}
.right-position {
  width: auto;
  text-align: right;
}
.question-topic {
  font-weight: bold;
}
.answer-question-detail {
  margin: 0 10px 10px;
  text-align: left;
}
.full-length {
  width: 98%;
  margin: 2px 0;
  padding: 5px 10px;
}
#question-form {
  margin: 20px 30px 0;
}
#answer-form-title {
  padding: 0 10px;
  font-size: 140%;
  color: #aaa;
}
.same-height-row {
  padding: 10px;
  display: flex;
  align-items: center;
}
.small-icon {
  width: 20px;
  height: auto;
}
.big-number {
  color: #aaa;
  font-size: 140%;
}
