.container {
    width : 80%;
    margin : 0 auto;
}


h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    margin : 30px 0 120px 0;
}

h2 {
    font-size: 27px;
    font-weight: normal;
}

h4 {
    font-weight: normal;
    font-size: 23px;
    margin : 5px;
}

input,textarea {
    display: block;
    margin : 0 2px 10px 0;
    font-family: sans-serif;
    font-size: 14px;
    color : #3f1132;
}



input[type="text"],textarea {
    padding : 7px 0 7px 9px;
    width : 99%;
    border : 2px solid #252528;
}

textarea {
    height : 180px;
    line-height: 27px;
}

.submitBtn {
    float: right;
    padding : 7px;
    border : 2px solid #86857c;
    background-color: #e1e0d4;
}

.submitBtn:hover {
    cursor: pointer;
    background-color: #fffef5;
    border-color: #040404;
}
.searchBtn {
    width : 17%;
    float: right;
    padding : 7px;
    border : 2px solid #86857c;
    background-color: #e1e0d4;
}

.searchBtn:hover {
    cursor: pointer;
    background-color: #fffef5;
    border-color: #040404;
}

textarea.error,input.error {
    border : 2px solid #c3251f;
}


*::-webkit-input-placeholder {
    color: #100243;
}

*:-moz-placeholder { /* Firefox 18- */
    color:#100243;
    opacity:  0.7;
}

*::-moz-placeholder {  /* Firefox 19+ */
    color: #100243;
    opacity:  0.7;
}

*:-ms-input-placeholder {
    color: #100243;
}

.table {
    table-layout: fixed;
    width: 100%;
    /*border: none;*/
}


.row {
    width: 100%;
    display: block;
    padding : 20px 0 20px 0;
    border-top: 2px solid #3a3f3b;
    cursor: pointer;
    /*overflow: hidden;*/
}

.elemValue,.elemAnswer,.elemQuestion,.elemAuthor {
    float:left;

}

.elemValue,.elemAnswer {
    vertical-align: middle;
    width : 8%;
    text-align: center;
    background-color: #56d9ff;
}


.elemQuestion {
    width : 50%;
    text-align: center;
    max-height: 160px;
    overflow: hidden;
    padding : 0 20px 0 20px;
    background-color: #7dff7d;
}
.elemAuthor {
    width : 29.3%;
    padding-left: 8px;
    text-align: right;
    color : red;
    overflow: hidden;
    background-color: #ffb584;
}

.topic {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

input[type="text"].searchInput {
    width : 80%;
    float:left;
}

p {
    margin-top : 47px;
    text-align: center;
    width : auto;
}

.askHere {
    padding-bottom: 25px;
}

a {
    color : #b06359;
    text-decoration: none;
}
a:hover {
    color : #4769ff;
}
a:visited {
    color : #b06359;
}

span {
    display: block;
}

.vote,.ans{
    font-weight: bold;
    font-size: 17px;
}


.rowQuestion{
    cursor : default;
}


.colVote {
    float : left;
    width : 10%;
    background-color: #ff8dd8;
}

.colQuestion {
    background-color: #7dff7d;
    min-height: 78px;
    float: left;
    width : 90%;
}

.colQuestion p {
    margin : 0;
    text-align: left;
}

.colQuestion span {
    margin-top: 20px;
    text-align: right;
}

.colVote span {
    font-size: 32px;
    text-align: center;
    margin : 5px auto;
}


.arrow-down,.arrow-up {
    width: 0;
    height: 0;
    margin: 0 auto;
    cursor: pointer;
}

.arrow-up {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #2fd31f;
}

.arrow-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #e0001d;
}


.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
