<!DOCTYPE html>
<html>

<head><title>The question topic goes here</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>


<body>
<div class ='container'>
		<h1 class='center'>Simple StackExchange</h1>

		<div class='center'>
			<input type='text' class='searchbar'> <button>Search</button>
		</div>

		<div>&nbsp;</div>

		<h2>The question topic goes here</h3>

		<div class='question'>
			<div class='row'>
				<div class='col-1'>
					<div class='arrow-up'></div>
					<p class='center'><b>0</b></p>
					<div class='arrow-down'></div>
				</div>
				
				<div class='col-8'>
					<p>Ini websitenya sudah siap belum? Kalau sudah bisa mau nanya banyak pertanyaan nih di sini. Kalau belum webnya kapan selesainya ya? Harus cepat-cepat nih, dikejar deadline Jumat kan?</p>
					<p class='right'>
					asked by <a href='#'>name</a> at datetime | <a href='#'>edit</a> | <a href='#'>delete</a>
					</p>
				</div>
			</div>
		</div>
		<h2>1 Answer</h2>
		<div class='answer'>
			<div class='row'>
				<div class='col-1'>
					<div class='arrow-up'></div>
					<p class='center'><b>0</b></p>
					<div class='arrow-down'></div>
				</div>
				<div class='col-8'>
				<p>Bakal lama oi kelarnya</p>
					<p class='right'>
					answered by <a href='#'>name</a> at datetime | <a href='#'>edit</a> | <a href='#'>delete</a>
					</p>
				</div>
			</div>
		</div>
		<div class='answer'>
			<div class='row'>
				<div class='col-1'>
					<div class='arrow-up'></div>
					<p class='center'><b>0</b></p>
					<div class='arrow-down'></div>
				</div>
				<div class='col-8'>
				<p>Bakal lama oi kelarnya</p>
					<p class='right'>
					answered by <a href='#'>name</a> at datetime | <a href='#'>edit</a> | <a href='#'>delete</a>
					</p>
				</div>
			</div>
		</div>
		<hr>

		<h1>Your Answer</h1>
		<form>
			<input type='text' id='author' class='formInput' placeholder='Name'>
			<input type='text' id='email' class='formInput' placeholder='Email'>
			<textarea id='content' class='formInput 'placeholder='Content'  rows='10'></textarea>
		</form>

		<div class='right'><button>Post</button></div>
	</div>
</body>
</html>